.project-comp-container {
    height: 100%;
    width: 100%;
    color: white;
    font-size: 100px;
    background-color: darkslateblue;
    display: flex;
    align-items: center;
    justify-content: center;
}