@import "src/index.scss";

.dashboard-main-container {
  height: 100vh;
  width: 100%;
  background-color: var(--bgColor);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.divider-1 {
  height: 100%;
  width: 1px;
  background-color: gray;
  border-radius: 50px;
}

.divider-2 {
  height: 1px;
  width: 90%;
  background-color: gray;
  border-radius: 50px;
}

.nav-container {
  height: 100%;
  display: flex;
  flex: 0.6;
  align-items: center;
  flex-direction: column;

  .ai-surv-container {
    height: 10%;
    width: 100%;
    color: white;
    font-size: 25px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.center-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 2;
}

.profile-feed-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1.1;
}

.profile-navbar {
  width: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 18px;
  font-size: 25px;
}

.live-feed-title {
  height: 6vh;
  width: 100%;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: end;
  font-size: 20px;
  font-weight: 500;
}
