.project-comp-container {
  height: 100%;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  // background-color: darkslateblue;
}

.projects-divider {
  height: 1px;
  width: 97%;
  background-color: grey;
}

.project-comp-nav {
  width: 100%;
  display: flex;

  .project-nav-container {
    height: 100%;
    width: 50%;
    flex: 1;
    display: flex;
    justify-content: start;
    align-items: center;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 25px;
    font-weight: 500;
  }

  .project-nav-search {
    height: 100%;
    width: 50%;
    flex: 1;
    background-color: brown;
  }
}

.new-project-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;

  .new-project-title {
    font-size: 20px;
  }

  .grid-container--new-proj {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    .grid-item--new-proj {
      display: flex;
      justify-content: center;
      align-items: start;
    }
  }
}

.current-project-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 2;

  .curr-project-title {
    font-size: 20px;
  }

  .grid-container--currproj {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    .grid-item--currproj {
      height: 100%;
      width: 100%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
