.project-comp-container {
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    // background-color: darkslateblue;
}

.project-comp-nav {
    width: 100%;
    display: flex;

    .project-nav-container {
        height: 100%;
        width: 50%;
        flex: 1;
        display: flex;
        justify-content: start;
        align-items: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 25px;
        font-weight: 500;
    }
    
    .project-nav-search {
        height: 100%;
        width: 50%;
        flex: 1;
        background-color: brown;
    }
}

.new-project-container {
    width: 100%;
    display: flex;
    flex: 1;
    background-color: aqua;
}

.current-project-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex : 2;

    .grid-container--currproj {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        .grid-item--currproj {
            height: 100%;
            width: 100%;
            // background-color: blue;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

